In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

df = pd.read_csv("hf://datasets/lukebarousse/data_jobs/data_jobs.csv")

#Data_Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\Utilisateur\anaconda3\envs\python_again_vs_code\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#This code allows to get a random sample from the dataset

df.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
280464,Data Scientist,Data Scientist,"Reading, UK",via Fish4jobs,Full-time,False,United Kingdom,2023-01-03 16:43:01,False,False,United Kingdom,NaN,NaN,NaN,Set2Recruit,"['sql', 'python', 'power bi']","{'analyst_tools': ['power bi'], 'programming':..."
42551,Software Engineer,End User Support Analyst,"Bogotá, Bogota, Colombia","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Colombia,2023-09-09 06:19:37,False,False,Colombia,NaN,NaN,NaN,Visa,"['sql', 'mysql', 'oracle', 'tableau', 'excel']","{'analyst_tools': ['tableau', 'excel'], 'cloud..."
182451,Data Scientist,Junior Data Scientist (Remote),"Miami, FL",via Lensa,Full-time,False,Georgia,2023-07-14 15:54:26,False,False,United States,NaN,NaN,NaN,SynergisticIT,"['go', 'java', 'javascript', 'c++', 'python', ...","{'analyst_tools': ['tableau'], 'libraries': ['..."
144957,Data Analyst,Data Analyst,"Jersey City, NJ",via Trabajo.org,Full-time,False,"New York, United States",2023-02-19 08:00:08,False,True,United States,NaN,NaN,NaN,Randstad USA,"['sql', 'python', 'oracle', 'flow']","{'cloud': ['oracle'], 'other': ['flow'], 'prog..."
82356,Senior Data Analyst,Senior Analyst (Qatari National),"Doha, Qatar",via Bayt.com,Full-time,False,Qatar,2023-01-08 00:27:24,False,False,Qatar,NaN,NaN,NaN,الخطوط الجوية القطرية - غير ذلك,"['sas', 'sas', 'sql', 'tableau', 'power bi', '...","{'analyst_tools': ['sas', 'tableau', 'power bi..."
430291,Data Analyst,Consultor Jr. de Analítica de Datos (Remoto),Anywhere,via LLYC,Full-time,True,Peru,2023-03-27 16:28:13,False,False,Peru,NaN,NaN,NaN,LLYC,"['python', 'r', 'excel', 'tableau']","{'analyst_tools': ['excel', 'tableau'], 'progr..."
347217,Data Scientist,Research Programmers/Research Data Scientist/F...,Hong Kong,via Jobrapido.com,Full-time,False,Hong Kong,2023-03-11 23:36:14,False,False,Hong Kong,NaN,NaN,NaN,SmartBLKTrade Limited (SBT),"['c#', 'python', 'r', 'solidity', 'java', 'jav...","{'other': ['flow'], 'programming': ['c#', 'pyt..."
188703,Software Engineer,Java Developer – Semi Remote – R700K Per Annum,"Johannesburg, South Africa",via BeBee South Africa,Full-time,False,South Africa,2023-02-14 15:37:30,True,False,South Africa,NaN,NaN,NaN,E-Merge,NaN,NaN
772471,Data Scientist,Data Scientist,"Barcelona, Spain",via BeBee,Full-time,False,Spain,2023-07-02 01:19:30,False,False,Spain,NaN,NaN,NaN,Winning,"['python', 'php', 'sql', 'java', 'html', 'java...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
660540,Data Analyst,Data Analyst,Hong Kong,via BeBee 香港,Full-time,False,Hong Kong,2023-08-18 10:23:27,False,False,Hong Kong,NaN,NaN,NaN,CatoMind,['sql'],{'programming': ['sql']}